@import"../mixin";
.login_container{
    display: flex;
    width: 100%;
    height: 720px;
   // background-color:$gray-300;
    margin-top:$padding_top;
    border: 1px solid #000000;
    border-bottom: 0;
    box-sizing: border-box;
}
.login_image{
    min-width: 512px; 
   // width: 512px;
    height: 100%;
    @include pad{
       display: none;
    }
    @include mobile{
        display: none;
      }
}
.login_image_img{
    width: 100%;
    height: 100%;
}
.login_input{
    width: 768px;
  //  background-color:aquamarine;
}
.login_form{
    padding-top: 144px;
    padding-left: 160px;
    @include pad{
        padding-left: 128px; 
     }
     @include mobile{
        padding-left: 48px; 
    }
}
.signup_form{
    padding-top: 80px;
    padding-left: 160px;
    @include pad{
        padding-left: 128px; 
     }
     @include mobile{
        padding-left: 48px; 
    }
}