@import"../mixin";
.UserProductDetail_container{
    @include containerBorder;
   
    margin-top:$padding_top;
    display: flex;
    align-items: center;
}
.UserProductDetail_containerBox{
    margin: 80px auto ;
}
.UserProductDetail_detail{
    display: flex;
    width: 800px;
    @include md{
        width: 608px;
    }
    @include sm{
        flex-direction: column;
        align-items: center;
        width: 375px;
    }
    img:nth-child(1){
        object-fit: cover;
    }

}
.UserProductDetail_detail_description{
    width: 240px;
    margin-left: 80px;
    @include md{
        margin-left: 48px;
    }
    @include sm{
        margin-left: 0px;
        margin-top: 36px;
    
    }
}
.UserProductDetail_info{
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $main_black;
    padding-bottom: 8px;

}