@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import "./mixin";
body {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
}
.container {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1104px;
  min-height: calc(100vh - 65px - 106px);
}

.container-fluid {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}

/*----------------productlist-----------------*/
.productlist_container {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1104px;
  @include lg {
    max-width: 969px;
  }
  @include md {
    max-width: 696px;
  }
  @include sm {
    max-width: 311px;
  }
}
.px-64 {
  padding: 0 64px 0 64px;
}

.productlist {
  width: 100%;
  padding: 0 auto;
  padding-bottom: 67px;
}

.productlist-title {
  max-width: 1280px;
  margin: auto;
  margin-top: 90px;
  // padding-left: 26px;
  font-size: 24px;
}

.productlist-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
  margin-top: 24px;
}

.card {
  width: 248px;
  margin: 0 26px;
  margin-top: 47px;
}
.card .card-img img {
  height: 248px;
  width: 248px;
  object-fit: cover;
  @include sm {
    height: 144px;
    width: 144px;
  }
}

.card_Info {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  .card-text:nth-child(2) {
    margin-top: 11px;
  }
}
.card {
  p {
    color: black;
    font-size: 20px;
  }
  p:nth-child(2) {
    margin-top: 11px;
  }
}

/*-----------productdetail----------------*/

.productdetail_container {
  //margin-top: $padding_top;
  display: flex;
  border: 1px solid #000000;
  @include sm {
    flex-direction: column;
    margin-top: 0;
  }
}
.productdetail_img {
  width: 100%;
  // background-color:rgb(179, 255, 229);
  margin-left: 100px;
  @include md {
    margin-left: 50px;
  }
  @include sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
}
.productdetail_img_img {
  margin-top: 85px;
  object-fit: cover;
  height: 480px;
  width: 480px;
  //background-color: rgb(184, 179, 255);
  @include md {
    height: 320px;
    width: 320px;
  }
  @include sm {
    height: 375px;
    width: 375px;
  }
}

.productdetail_detail {
  height: 695px;
  //  width: 100%;

  //  background-color:rgb(219, 198, 243);
}

.productdetail_detail_detail {
  margin-top: 85px;
  margin-left: 50px;

  height: 525px;
  width: 313px;

  /* background-color:rgb(164, 85, 255); */
  @include sm {
    margin-top: 36px;
  }
}

.productdetail_seller {
  display: flex;
  height: 48px;
}
.productdetail_sellericon {
  height: 48px;
  width: 48px;
}
.productdetail_sellername {
  font-size: 20px;
  margin-top: 8px;
  margin-left: 18px;
}
.productdetail_title {
  font-size: 24px;
  margin-top: 32px;
}
.productdetail_price {
  font-size: 24px;
  margin-top: 15px;
}
.productdetail_button {
  margin-top: 15px;
  .productdetail_icon:nth-child(2) {
    margin-left: 15px;
  }
}
.productdetail_icon {
  height: 24px;
  width: 24px;
}
.productdetail_button_like {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.productdetail_addcart {
  height: 54px;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* .ant-btn-primary {
    background-color:black;
    border-color: black;
  } */

.productdetail_information {
  width: 80%;
  font-size: 16px;
  margin-top: 15px;
  height: 30px;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
/*-------------------- productdetail end --------------------*/

// .nav2 .ul .ul .ul {
//   position: absolute;
//   left: 100%;
//   top: 0;
// }
