@mixin btn_Unfill($bordercolor:$main_black) {
    padding: 8px 24px;
    border: 1px solid $bordercolor;
    box-sizing: border-box;
    border-radius: 2px;
    color: $bordercolor;
    background-color: white;
}

@mixin btn_Fill($bgcolor:$main_black) {
    padding: 8px 24px;
    background: $bgcolor;
    border-radius: 2px;
    border: 0;
    color: white;
}

@mixin containerBorder {
  border: 1px solid $main_black;
  border-bottom: 0;
  box-sizing: border-box;
  min-height: calc(100vh - 66px - 88px);
}
@mixin modal {
  display:block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}

@mixin display_center_between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin lg{
  @media(max-width:1024px){
    @content;
  }
}

@mixin md{
    @media(max-width:768px){
      @content;
    }
  }

@mixin sm {
  @media (max-width: 425px) {
    @content;
  }
}

