@mixin btn__Unfill($bordercolor) {
    padding: 10px 24px;
    border: 1px solid $bordercolor;
    box-sizing: border-box;
    border-radius: 2px;
    color: $bordercolor;
}

@mixin btn__Fill($bgcolor) {
    padding: 10px 24px;
    background: $bordercolor;
    border-radius: 2px;
    color: white;
}


@mixin md {
    @media (max-width:768px) {
        @content
    }
}

@mixin sm {
    @media (max-width:375px) {
        @content
    }
}