@import "../mixin";
/*--------編輯宅配/信用卡資訊---------*/
.modal_ship {
    @include modal;
    overflow:hidden;
    @include sm{
        overflow: auto;
    }
}
.modal_ship_content {
    background-color: #fefefe;
    margin: 144px auto;
    padding: 48px;
    border: 1px solid $main_black;
    width: 500px;
    @include md{
        width: 380px;
        padding: 48px;
   }
    @include sm{
         width: 303px;
         padding: 48px 16px;
    }
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}
/*--------新增商品---------*/
.modal_add {
    @include modal;
    overflow:auto;
    @include sm{
        overflow: auto;
    }
}
.modal_add_content {
    background-color: #fefefe;
    margin: 144px auto;
    padding: 48px;
    border: 1px solid $main_black;
    width: 680px;

    @include md{
        width: 380px;
        padding: 48px;
   }
    @include sm{
         width: 311px;
         padding: 48px 16px;
    }
}
.modal_add_contentbox{
    display: flex;
    flex-direction: row;
    @include md{
    flex-direction: column;
   }
}
.modal_add_box2{
    padding-left: 48px;
    @include md{
        padding-left:0;
       }
}
.modal_add_size{
    margin-top: 0px;
    @include md{
        margin-top: 36px;
       }
}

.input_file_wrapper{
    position: relative;
    width: 104px;
}

input.input_file{
    position: absolute;
    width: 104px;
    left: 15px;
    top: 5px;
    opacity: 0;
}

.input_file_trigger{
    display: block;
    cursor: pointer;
}

/*--------訂單詳細資訊---------*/
.modal_order{
    @include modal;
    overflow:auto;

}
.modal_order_content{
    background-color: #fefefe;
    border: 1px solid $main_black;
    margin: 144px auto;
    padding: 48px;
    width:992px;
    @include md{
        width: 696px;
        padding: 48px;
   }
   @include sm{
    width: 343px;
    padding: 48px 24px;
}
}